
@font-face {
    font-family: Proximanova-light;
    src: url(font/ProximaNova-Light.otf);
}

@font-face {
    font-family: Proximanova-regular;
    src: url(font/ProximaNova-Regular.otf);
}

@font-face {
    font-family: Proximanova-semibold;
    src: url(font/ProximaNova-Semibold.ttf);
}

@font-face {
    font-family: Proximanova-bold;
    src: url(font/ProximaNova-Bold.otf);
}


body {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000;
    height: 90vh;
    font-family:'Proximanova-regular', Montserrat, Helvetica;
    font-weight: normal;
    letter-spacing: 1px;  
    line-height: auto;
}

a, a:hover, a: visited, a:active {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    flex-flow : column nowrap;
    background-color: none;
    color: white;
    width: 65%;
    height: 50%;
    padding-right: 130px;
}

h1{
    font-family:'Proximanova-bold';
    margin: 0px;
}

h3{
    font-family:'Proximanova-semibold';
}

p {
    width: 60%;
    
}


.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 200px;
    margin-top: 10px;
    
}

.button {
    font-size: 20px;
    border: 1px solid none;
    padding: 10px;
    color: white;
}

.button:hover {
    color:#984752;
    cursor: pointer;
}

.email:hover {
    color: #012983;
    
}
.ig:hover {
    color:#3f729b;
    }

.dribbble:hover {
    color:#ea4c89;
}

.behance:hover {
    color:#1769ff;
}

@media all and (max-width: 768px){
    
.container {
    font-size: 14px;
    width: 85%;
    height: auto;
    padding-right: 0px;
    padding-top: 0px;
    
    }
    
    p {
    width: 100%;
    }
}
