
.header{
	height: 450px;
	background: $white;
	text-align: center;
	display: flex;
	align-items: center;

	&__links{
		margin: 60px 0 0 0;
		padding: 0;

		li{
			display: inline-block;
			list-style: none;
			color: $gray-text;
			margin-right: 54px;
			line-height: 25px;

			&.title{
				font-size: 14px;
				margin-right: 34px;
				letter-spacing: 3px;
			}

			&:last-child{
				margin-right: 0;
			}

			a{
				color: $gray-text;
				border: 0;
				font-size: 25px;

				svg{
					position: relative;
					top: 5px;
				}

				&:hover{
					color: $dark-text;

					svg #About{
						stroke: $dark-text;
					}
				}
			}
		}
	}
}