
$white: #FFFFFF;
$gray: #D8D8D8;

$dark-text: #314555;
$gray-text: #9B9B9B;


// Project gradients
.boost{
	background: #F03D3D;
	background: -webkit-linear-grasdient(#F03D3D, #E13636);
	background: -moz-linear-gradient(#F03D3D, #E13636);
	background: linear-gradient(#F03D3D, #E13636);
}

.hellogold{
	background: #FFC908;
	background: -webkit-linear-gradient(#FFC908, #FFB307);
	background: -moz-linear-gradient(#FFC908, #FFB307);
	background: linear-gradient(#FFC908, #FFB307);
}

.ombre{
	background: #9C3C57;
	background: -webkit-linear-gradient(#9C3C57, #3B3864);
	background: -moz-linear-gradient(#9C3C57, #3B3864);
	background: linear-gradient(#9C3C57, #3B3864);
}

.merdeka{
	background: #ECEBE6;
}

.vltlabs{
	background: #24367A;
	background: -webkit-linear-gradient(125deg, #24367A, #1BCEDF);
	background: -moz-linear-gradient(125deg, #24367A, #1BCEDF);
	background: linear-gradient(125deg, #24367A, #1BCEDF);
}

.crowdsails{
	background: #69CADB;
	background: -webkit-linear-gradient(#69CADB, #0AB0C6);
	background: -moz-linear-gradient(#69CADB, #0AB0C6);
	background: linear-gradient(#69CADB, #0AB0C6);
}

.producky{
	background: #FAD961;
	background: -webkit-linear-gradient(125deg, #FAD961, #FFCB33);
	background: -moz-linear-gradient(125deg, #FAD961, #FFCB33);
	background: linear-gradient(125deg, #FAD961, #FFCB33);
}

.camporama{
	background: #243841;
	background: -webkit-linear-gradient(125deg, #243841, #1E5C7A);
	background: -moz-linear-gradient(125deg, #243841, #1E5C7A);
	background: linear-gradient(125deg, #243841, #1E5C7A);
}

.qucs{
	background: #1CB6CF;
	background: -webkit-linear-gradient(125deg, #1CB6CF, #1F84B0);
	background: -moz-linear-gradient(125deg, #1CB6CF, #1F84B0);
	background: linear-gradient(125deg, #1CB6CF, #1F84B0);
}

.munchys{
	background: #F5515F;
	background: -webkit-linear-gradient(125deg, #F5515F, #9F041B);
	background: -moz-linear-gradient(125deg, #F5515F, #9F041B);
	background: linear-gradient(125deg, #F5515F, #9F041B);
}

.supahands{
	background: #6450A5;
}









