
@font-face {
    font-family: Circular-Book;
    src: url('font/lineto-circular-pro-book.ttf');
}

@font-face {
    font-family: Circular-Bold;
    src: url('font/lineto-circular-pro-bold.ttf');
}

h1{
	font-size: 35px;
	font-weight: 400;

	span{
		font-family: "Circular-Bold";
	}
}

h3{
	font-size: 20px;
	font-family: "Circular-Bold";
	margin: 10px 0;
	line-height: 28px;
}	

h4{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0;
}


a{
	color: $dark-text;
	text-decoration: none;
	font-family: "Circular-Bold";
	border-bottom: 1px solid $dark-text;
}